#ssrt td:nth-child(1) {
/*
    background : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAA4AQMAAAB31mwxAAAABlBMVEUAAAAAuQCQYKw+AAAAAXRSTlMAQObYZgAAAFxJREFUGNNjIA+w/weDBwz8EMYHBnkI4wc2BkQPCYwKEIP5/w/Gf+gM5v/oDPb/DXAGRDtWBoZ2nFYw/EEwINoxGXDF/P8PQBjy/x8Qw4D7lDQGnuCFRwEiUogAAAGosbjU5xtdAAAAAElFTkSuQmCC);
*/
    text-align : center;
}

table.card {
    border : 0;
    border-collapse : collapse;
}

table.card td {
    vertical-align : top;
    padding: 1px;
}

.fig, #ssrt td:nth-last-child(1) {
    text-align : center;
}