<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<p>
    Модель системы учёта студентов и их успеваемости подразумевает наличие:
    <ul>
    <li>Специальностей (деление на факультеты опущено, метод добавления не представлен в Web-интерфейсе)</li>
    <li>Групп (Группы можно добавлять в Web-интерфейсе по шаблону специальности)</li>
    <li>Набора дисциплин, с предполагаемым учётом академических часов (не реализвано)</li>
    <li>Плана, который привязан к специальности и номеру семестра (курс+зима/лето)</li>
    <li>Списка студентов с личными данными, привязанными к одной из групп</li>
    </ul>

    Такая модель подразумевает, что при переводе на другой курс, должно меняться имя у группы.
    План привязан к специальности, а не к группе, хотя может быть создан с указанием года действия, в противном же случае он просто считается общим.
    Отдельной карточки плана не существет (хотя возможно в случае реализации просмотра), вся информация хранится в общей одноимённой таблице, т.е. журнале планирования.
    Т.о. Планы определяют список всех дисциплин, которые должен сдать студент определённой группы. Планируется что можно реализовать создание планов на основе шаблонов, пока же можно создать план, который перекроет имеющийся и полученные оценки у студентов.
    Пока, на основе предложенной модели, можно оценивать успеваемость, т.е. предметы которые ещё предстоит сдавать. Сами предметы в планы заносились случайным образом, поэтому речь о сравнении семестров не идёт.
    Удаление объектов ещё не реализовано, поэтому каскадных обновление и удалений не создано. Уникальность присутствует только в имени и годе группы и в планировании.

</p>
<p>
    Код проекта не вычищен, оставлены комментарии, проимущественно для TODO. Без чётких ТЗ очень сложно работать.
    Нет четкой аргументации для nginx. Для приложения нужны отделье настройки (хотя бы местополежение app и static).
    О virtualenv ничего не сказано, поэтому непонятно, нужно ли setup для него.
    Сейчас приложение идёт отдельным пакетом
</p>
<p>
    Существует функция удаления группы, демонстрирующая каскадное удаление студентов и оценок. Индексы по внешним ключам построены, но поиск по имени и фамилии студентов идёт через ilike '%text%',
поэтому здесь они не работают, нужно было делать, скажем, ключ по lower(surname) и искать через like lower(text) || '%'
</p>
{% endblock %}
